$ff:'sans-serif';
$primary:#f2f2f2;

body {background: $primary; font-family: $ff;
}
$primary-color: #ff0fab;
$secondary-color: rgb(204, 102, 153);
$color--box-shadow: #000;
$color--static-links: #00fa37;