$numeralcolor: blue;
$barcolor: white;
body{
   margin: 30px;
   padding: 30px;
   font-family: sans-serif;
   title{
   	font-family: 'san';
   	font-size: 40px;
   	display: flex;
   	color: blue;
   	justify-content: center;
   	align-text: center;
   }
   #auth{
   	font-family: 'san';
   	font-size: 20px;
   	display: flex;
   	color: blue;
   	justify-content: center;
   	align-text: center;
   }
   
   
   .message{
   	background: lightblue;
   	padding: 20px;
   	
   	#h1{
   		font-family: 'Dancing Script';
   		color: $numeralcolor;
   	}
   		p {
   		border: 3px solid $barcolor;
   		
   			.primary-link{
   			color: blue;
   			background: orange;
   
   		}	
   	}
   
   	#hwkimg{
   		display: block;
   		margin-left: auto;
     		margin-right: auto;}
